.body {
    background-color: #EDD7C2;
}

.btn-group {
  text-align: center;
  width: 100%;
}

.button {
    color: black !important;
    text-transform: uppercase;
    background:  #EDD7C2;
    padding: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease 0s;
    width: 25%;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
}

.button:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
