/* FONTS */
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
  }
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
  }
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
  }
  * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
  }
  body, html {
     height: 100%;
     font-family: Poppins-Regular, sans-serif;
  }
  /*---------------------------------------------*/
  /* OK */
  .bg-contact {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(question.jpg);
  }
  /* OK */
  .container-contact {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }
  /* OK */
  .wrap-contact {
    width: 500px;
    height: 80vh;
    background: #1A253F;
    border-radius: 10px;
    overflow: hidden;
    padding: 72px 55px 65px 55px;
  }
  
  /* OK */
  .contact-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 19px;
    color: #EDD7C2;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0;
  }
  
  #home-single
  {
      position: absolute;
      top: 1.6em;
      left: 1.5em;
      color: #EDD7C3;
      font-size: 20px;
  }
  @import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);
  body{
     font-size: 20px;
     font-family: 'Work Sans', sans-serif;
     color: #333;
    font-weight: 300;
    text-align: center;
    background-color: #f8f6f0;
  }
  h1{
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: #444;
    color: #fff;
  }
  .question{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
  }
  .answers label{
    display: block;
    margin-bottom: 10px;
  }
  button{
    font-family: 'Work Sans', sans-serif;
     font-size: 22px;
     background-color: #279;
     color: #fff;
     border: 0px;
     border-radius: 3px;
     padding-top: 20px;
     cursor: pointer;
  }
  button:hover{
     background-color: #38a;
  }
  
  .slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .active-slide{
    opacity: 1;
    z-index: 2;
  }
  .quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
    color: #EDD7C2;
  }
  .q-number{
      font-size: 20px;
      background-color: #1A253F;
      border: none;
      padding-left: 65px;
  }
  .button {
    display: inline-block;
    border-radius: 5px;
    border-color : white;
    background-color: #EDD7C2;
    color: #1A253F;
    text-align: center;
    font-size: 20px;
    padding: 16px 20px;
    width: 170px;
    height: 70px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .button:hover {
    background-color: black;
    color: #EDD7C2;
  }
  .choice:focus{
      background-color: red;
  }
  .modal {
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
    top: 0;
    width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  /* Modal Content */
  .modal-content {
    background-color: #EDD7C2;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  /* The Close Button */
  .close {
    color: #1A253F;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

