<!DOCTYPE html>
<head>
	<title>Contact Us</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style-contact.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
		<a id="home-contact" href="{{ url_for('logout') }}"><i class="fas fa-home"></i> Home</a>
		<div class="bg-contact">
		<div class="container-contact">
			<div class="wrap-contact">
					<span class="contact-form-title">
						Contact Us
					</span>

					<button class="button-contact" onclick="hiForm()">Share your opinion</button>
				    <button class="button-contact" onclick="qForm()">Suggest question</button>

						<div class="form-popup" id="myForm">
							<form action="{{ url_for('contact_us') }}" method="post" autocomplete="off" class="form-container">
							  <input id="name" class="input" placeholder="Your name" name="name" required>
							  <input id="email" class="input" placeholder="Your email" name="email" required>
							  <textarea id="msg" class="input" placeholder="Your Message" name="message" required></textarea>

							  <div class="form-popup" id="qForm">
								  <select  method="GET" action="/" id="category" class="custom-select" required name="category">
									<option disabled selected>Choose category:</option>
									{% for category in categories %}
									<option value="{{category}}">{{category}}</option>
				  					{% endfor %}
								  </select>

								   <textarea id="text" class="input" placeholder="Your question" name="question" required
								   style="height:20px;"></textarea>
								   <input id="opt1" class="input" placeholder="Answer option 1" name="answer" required>
								   <input id="opt2" class="input" placeholder="Answer option 2" name="answer" required>
								   <input id="opt3" class="input" placeholder="Answer option 3" name="answer" required>
								   <input id="correct" class="input" placeholder="Answer option 4" name="answer" required>

							  </div>

							<button type="submit" class="btn">Submit</button>
							<button type="button" class="btn" onclick="closeForm()">Close</button>
			  				</form>
						</div>


						<script>
						function hiForm() {
						  document.getElementById("myForm").style.display = "block";
						  document.getElementById("msg").style.display = "block";
						  document.getElementById("category").style.display = "none";
						  document.getElementById("text").style.display = "none";
						  document.getElementById("opt1").style.display = "none";
						  document.getElementById("opt2").style.display = "none";
						  document.getElementById("opt3").style.display = "none";
						  document.getElementById("correct").style.display = "none";
						}
						function qForm() {
						  document.getElementById("myForm").style.display = "block";
						  document.getElementById("qForm").style.display = "block";
						  document.getElementById("category").style.display = "block";
						  document.getElementById("text").style.display = "block";
						  document.getElementById("opt1").style.display = "block";
						  document.getElementById("opt2").style.display = "block";
						  document.getElementById("opt3").style.display = "block";
						  document.getElementById("correct").style.display = "block";
						  document.getElementById("msg").style.display = "none";

						}
						function closeForm() {
						  document.getElementById("myForm").style.display = "none";
						}

						</script>
			</div>
		</div>
	</div>

</body>
</html>