<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style-home.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home</a>
    <a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i> My profile</a>
    <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
</div>

<div id="main">
  <span style="font-size:30px;color:#1A253F;cursor:pointer" onclick="openNav()">&#9776 Menu</span>
</div>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor ="rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
}
</script>
<div id="header">
</div>
<div id="content">
<style>
* {box-sizing: border-box}
body {
    font-family: Verdana, sans-serif;
    margin:0;
}

</style>
</head>
<body>

<div class="slideshow-container">

<div class="mySlides">
  <q>Welcome back, {{username}}</q>
</div>

<div class="mySlides">
  <q>Fact of the day</q>
</div>

<div class="mySlides">
  <q>Enjoy brainUP</q>
</div>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>

<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>

</body>
</div>

</html>