<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
	</head>
	<body class="body-log-reg">
		<div class="register">
		    <h1></h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="name">
					<i class="fas fa-id-card"></i>
				</label>
				<input type="text" name="name" placeholder="Real Name" id="name" required>
				<label for="email">
				    <i class="fa fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>

				<input type="avatar" name="avatar" id="avatar" required value="avatar0.png" style="display:none">

				<p style="color: #1A253F; font-size: 20px"> Choose your avatar! </p>
				<div class="container-fluid">
  				<div class="row">
    				<div class="btn-group">
				 		<input style="width:10rem;
				 					  height:10rem;
				 					  vertical-align: middle;
  									  border-radius: 50%;
  									  background-color: white;
									  background: url('../static/avatar0.png')"
							   class="button" type="button" onclick="functionSelect(0)">
						<input style="width:10rem;
				 					  height:10rem;
				 					  vertical-align: middle;
  									  border-radius: 50%;
  									  background-color: white;
									  background: url('../static/avatar1.png')"
							   class="button" type="button" onclick="functionSelect(1)">
				  	</div>
  				</div>
  				<div class="row">
    				<div class=" btn-group">
						<input style="width:10rem;
				 					  height:10rem;
				 					  vertical-align: middle;
  									  border-radius: 50%;
  									  background-color: white;
									  background: url('../static/avatar2.png')"
							   class="button" type="button" onclick="functionSelect(2)">
						<input style="width:10rem;
				 					  height:10rem;
				 					  vertical-align: middle;
  									  border-radius: 50%;
  									  background-color: white;
									  background: url('../static/avatar3.png')"
							   class="button" type="button" onclick="functionSelect(3)">
				 	</div>
  				</div>
  			</div>
				<div style="color: #ff007f" class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>
		</div>
	</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
var final_avatar_name;


function functionSelect(choice) {
		final_avatar_name = "avatar"+choice+".PNG";
	  	console.log(final_avatar_name);
	  	document.getElementById("avatar").value = final_avatar_name;
}

</script>