<!DOCTYPE html>
<head>
   <title>Single player mode</title>
   <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style-single.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
      <a id="home-single" href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home</a>
      <div class="bg-contact">
      <div class="container-contact">
         <div class="wrap-contact"  style="float:left">
              <span class="contact-form-title">
					Question number
					 <input class="contact-form-title q-number" type="text" id="q-number" value="1"/>
				</span>
              <div class="quiz-container">
			  	<div id="quiz"></div>
			  </div>
			 <button style="display:none" id="previous">Previous Question</button>
			 <button style="position: absolute; bottom: 100px" class="button" onclick="incrementQuestion()" id="next">Next Question</button>
			 <p style="height:28px"></p>
			 <button style="position: absolute; bottom: 100px; float:right; height: 40px; padding: 0" class="button" id="myBtn">Submit Quiz</button>

			 <div id="myModal" class="modal">

				  <!-- Modal content -->
				  <div class="modal-content">
					<span class="close">&times;</span>
					<p>Your result is <div id="results"></div></p>
				  </div>

				</div>

         </div>

         <div class="wrap-contact" style="float:right">
         </div>
      </div>
   </div>
</body>
</html>

<script>

</script>

<script>
var finalAnswer = null;
 function incrementQuestion()
	{
		var value = parseInt(document.getElementById("q-number").value, 10);
		value = isNaN(value) ? 1 : value;
		value++;
		document.getElementById("q-number").value = value;
	}

	function functionSelect(btn) {
		finalAnswer = document.getElementsByClassName("choice")[btn];
	}

	function getUserAnswer() {
		return finalAnswer;
	}

	(function(){
	  // Functions
	  function buildQuiz(){
		// variable to store the HTML output
		const output = [];
		// for each question...
		myQuestions.forEach(
		  (currentQuestion, questionNumber) => {
			// variable to store the list of possible answers
			const answers = [];
			// and for each available answer...
			 answers.push(
			`<div class="container-fluid">
  				<div class="row">
    				<div class="btn-group">
				 		<input class="button choice" type="button" value="${currentQuestion.answers["a"]}" name="question${questionNumber}" onclick="functionSelect()">
				  		<input class="button choice" type="button" value="${currentQuestion.answers["b"]}" name="question${questionNumber}" onclick="functionSelect()">
				  	</div>
  				</div>
  				<div class="row">
    				<div class=" btn-group">
				    	<input class="button choice" type="button" value="${currentQuestion.answers["c"]}" name="question${questionNumber}" onclick="functionSelect()">
				    	<input class="button choice" type="button" value="${currentQuestion.answers["d"]}" name="question${questionNumber}" onclick="functionSelect()">
				 	</div>
  				</div>
  			</div>`
			  );
			// add this question and its answers to the output
			output.push(
			  `<div class="slide">
				<div class="question"> ${currentQuestion.question} </div>
				<div class="answers"> ${answers.join("")} </div>
			  </div>`
			);
		  }
		);
		// finally combine our output list into one string of HTML and put it on the page
		quizContainer.innerHTML = output.join('');
	  }
	  function showResults(){
		// gather answer containers from our quiz
		const answerContainers = quizContainer.querySelectorAll('.answers');
		// keep track of user's answers
		let numCorrect = 0;
		// for each question...
		myQuestions.forEach( (currentQuestion, questionNumber) => {
		  // find selected answer
		  const answerContainer = answerContainers[questionNumber];
		  const selector = getUserAnswer();
		  const userAnswer = (answerContainer.querySelector(selector) || {}).value;
		  console.log(userAnswer);
		  // if answer is correct
		  if(userAnswer === currentQuestion.correctAnswer){
			// add to the number of correct answers
			numCorrect++;
		  }
		});
		// show number of correct answers out of total
		resultsContainer.innerHTML = `${numCorrect} out of ${myQuestions.length}`;
	  }

	  function showSlide(n) {
		slides[currentSlide].classList.remove('active-slide');
		slides[n].classList.add('active-slide');
		currentSlide = n;

		if(currentSlide === slides.length-1){
		  nextButton.style.display = 'none';
		  submitButton.style.display = 'inline-block';
		}
		else{
		  nextButton.style.display = 'inline-block';
		  submitButton.style.display = 'none';
		}
	  }
	  function showNextSlide() {
		showSlide(currentSlide + 1);
	  }

	  function shuffle(sourceArray) {
	  for (var i = 0; i < sourceArray.length - 1; i++) {
		var j = i + Math.floor(Math.random() * (sourceArray.length - i));

		var temp = sourceArray[j];
		sourceArray[j] = sourceArray[i];
		sourceArray[i] = temp;
	  }
	  return sourceArray;
	  }

	  // Variables
	  const quizContainer = document.getElementById('quiz');
	  const resultsContainer = document.getElementById('results');
	  const submitButton = document.getElementById('myBtn');

	  var questionsAux = JSON.stringify({{questions_list | tojson | safe}});
      var questionsData = JSON.parse(questionsAux);
	  var myQuestions = [];
	  var i;

	  for (i = 0; i < questionsData.length; i++) {
	  	var question = questionsData[i];

	  	ans = [];
	  	ans.push(question.opt1);
	  	ans.push(question.opt2);
	  	ans.push(question.opt3);
	  	ans.push("!" + question.correct);
	  	ans = shuffle(ans);
	  	var ans_correct;
	  	if (ans[0][0] == '!') {
	  		ans_correct = "a";
			ans[0] = ans[0].substring(1);
	  	} else if (ans[1][0] == '!') {
	  		ans_correct = "b";
			ans[1] = ans[1].substring(1);
	  	} else if (ans[2][0] == '!') {
	  		ans_correct = "c";
			ans[2] = ans[2].substring(1);
	  	} else if (ans[3][0] == '!') {
	  		ans_correct = "d";
	  		ans[3] = ans[3].substring(1);
	  	}

	  	myQuestions.push(
		{
		  question: question.text,
		  answers: {
			a: ans[0],
			b: ans[1],
			c: ans[2],
			d: ans[3]
		  },
		  correctAnswer: ans_correct
		});
	  }

	  // Kick things off
	  buildQuiz();
	  // Pagination
	  const nextButton = document.getElementById("next");
	  const slides = document.querySelectorAll(".slide");
	  let currentSlide = 0;
	  // Show the first slide
	  showSlide(currentSlide);
	  // Event listeners
	  submitButton.addEventListener('click', showResults);
	  nextButton.addEventListener("click", showNextSlide);
	})();
</script>

<script>
	// SCRIPT FOR MODAL
	// Get the modal
	var modal = document.getElementById("myModal");

	// Get the button that opens the modal
	var btn = document.getElementById("myBtn");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks the button, open the modal
	btn.onclick = function() {
	  modal.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	  modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  if (event.target == modal) {
		modal.style.display = "none";
	  }
	}
</script>